@font-face {
    font-family: GothamRoundedBook;
    src: url(../fonts/GothamRnd-Book.otf)format("opentype");
}
@font-face {
    font-family: GothamRoundedBookItalic;
    src: url(../fonts/gothamrounded-bookitalic.otf)format("opentype");
}
@font-face {
    font-family: GothaRoundedMudium;
    src: url(../fonts/gothamrounded-medium.otf) format("opentype");
}
@font-face {
    font-family: GothamRoundedMediumItalic;
    src: url(../fonts/gothamrounded-mediumitalic.otf)format("opentype");
}